body {
    background-color: gainsboro !important;
}

.container {
    display: flex;
    background-color: white;
    min-height: 100vh;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.3);
    position: relative
    
    
}
#navbar {
    display: flex;
    max-width: 100px;
    position: absolute;
    top: 110px;
    left: 1;
}

.title {
    display: flex;
    background-color: lightskyblue;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.3);

    
}

.cards {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content:space-evenly;
    margin: 2em;
}
 .currentWeather24HourCard {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.currentWeatherCard {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: lightblue;
    flex-wrap: wrap;
}
.currentWeatherAlertsCard {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: lightyellow;
    
}

.currentWeatherCardBody {
    padding: 1rem
}
.currentWeatherAlertsCardBody {
    padding: 1em
}
.currentWeather24HourCardBody{
    padding: 1em
}

.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contactCardBody{
    padding: 1rem
}
.emailCardTitle {
    padding: 1rem
}

#sun {
    display: flex;
    width: 70px;
    align-items: flex-start;
    
}

.subcontainer {
    display: flex;
    margin-left: auto;
}