html, body {
    height: 100;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items:flex-start;
    background-color: whitesmoke;
    height: 100%;
}



.currentWeather24HourCard {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.currentWeatherCard {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.currentWeatherAlertsCard {
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.currentWeatherCardBody {
    padding: 1rem
}
.currentWeatherAlertsCardBody {
    padding: 1em
}
.currentWeather24HourCardBody{
    padding: 1em
}


.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contactCardBody{
    padding: 1rem
}
.emailCardTitle {
    padding: 1rem
}



