body {
    background-color: gainsboro !important;
}

.container {
    display: flex;
    background-color: white;
    min-height: 100vh;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.3);
    position: relative;
}

#navbar {
    display: flex;
    max-width: 100px;
    position: absolute;
    top: 110px;
    left: 1;
}

.title {
    display: flex;
    background-color: lightskyblue;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.3);
    border-radius: 12px;
}

.cards {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
    margin: 2em;
}

.currentWeather24HourCard,
.currentWeatherCard,
.currentWeatherAlertsCard,
.contactCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 1em;
    margin: 1em;
    background-color: white; 
}

.currentWeatherCardBody,
.currentWeatherAlertsCardBody,
.currentWeather24HourCardBody,
.contactCardBody {
    padding: 1rem;
}

#contactCardNames {
    display: flex;
    margin-bottom: 10px;
}

#contactCardFname,
#contactCardLname {
    margin-right: 10px;
    max-width: 100px;
}

#fname,
#lname {
    max-width: 100px;
}

#email {
    width: 215px;
}

#contactCardEmail {
    display: flex;
    justify-self: center;
    margin-top: 10px;
}

#message {
    width: 215px;
    height: 200px;
    vertical-align: top;
}

#submit {
    width: 215px;
}

#sun {
    display: flex;
    width: 70px;
    align-items: flex-start;
}

.subcontainer {
    display: flex;
    margin-left: auto;
}
